body {
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

h1 {
	color: white;
	text-align: center;
	background: steelblue;
	padding: 30px;
	margin: 0;
	text-transform: uppercase;
	font-weight: 500;
}

#colorDisplay {
	font-size: 200%;
}

.square {
	width: 30%;
	height: 30%;
	margin: 1.66%;
	float: left;
	
	background: white;
	padding-bottom: 30%;
	border-radius: 15%;
	transition: background 0.4s;
	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
}

#container {
	max-width: 600px;
	margin: 30px auto;
}

#stripe {
	background: white;
	text-align: center;
	height: 30px;
	color: black;
}

.selected {
	background: steelblue;
	color: white;
}

button {
	color: steelblue;
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	letter-spacing: 1px;
	font-weight: 700;
	font-style: inherit;
	transition: 0.3s;
}

button:hover {
	color: white;
	background: steelblue;
}

#message {
	display: inline-block;
	width: 20%;
}
